<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>control</title>
</head>
<body>
    <button class="movement up">up</button>
    <button class="movement left">left</button>
    <button class="movement right">right</button>
    <button class="movement down">down</button>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/func/control.js"></script>
    
</body>
</html>