<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>control</title>
</head>
<body>
    <button class="up">up</button>
    <button class="left">left</button>
    <button class="right">right</button>
    <button class="down">down</button>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        let userId = '<%= userId %>';
    </script>
    <script src="/func/control.js"></script>
    
</body>
</html>