<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header',{
    styles:
        ['/style/default.css',
        '/style/contact.css' ,
        '/style/contactsection.css',
        '/style/spacer.css' ,
        '/style/icon.css' ,
        '/style/navbar.css' ,
        '/style/footer.css' ,
        '/style/main.css',
        '/style/contactsection.css', 
        '/style/map.css'
        ],
    
    scripts:
     [
        '/script/mainSite.js',
        '/script/navbar.js',  
        '/script/join.js',
        '/script/map.js'
      ]
    }) %>

<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>


    <div class="main-container">
        <div class="dashboard-container">
            <div class="map">
                <canvas class="canvasMap" width="600" height="400"></canvas>
                </div>
                <div class="save">
                    <button class="saveBTN">Save</button>
                </div>
                <div class="clear">
                    <button class="clearBTN">Delete</button>
                </div>
            <div class="controller">
                <div class="arrow-key-row">
                    <div class="arrow-key arrow-key-up" data-direction="up">
                        <i class=" fa-solid fa-arrow-up"></i>
                    </div>
                </div>
                <div class="arrow-key-row">
                    <div class="arrow-key arrow-key-left" data-direction="left">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div class="arrow-key arrow-key-down" data-direction="down">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                    <div class="arrow-key arrow-key-right" data-direction="right">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>

            <div class="data-container">
                <div class="data-item">
                    <div class="data-wrapper">
                        <div class="item">
                            <h3 class="infoTXT">Speed: <span class="infoSpeed" id="data-speed"></span></h3>
                        </div>
                    </div>
                </div>
            <div class="data-item">
                <div class="data-wrapper">
                    <div class="item">
                        <h3 class="infoTXT">Travel: <span class="infoDist" id="data-speed"></span></h3>
                </div>
            </div>
        </div>
    </div>
            <div class="icon">
                <div class="icon-container">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-wifi"></i>
                            <i class="fa-solid fa-battery-full"></i>
                                </div>
                            <div class="session-container">
                        <h3>Session ID: <span>01</span></h3>
                    </div>
                </div>
            </div>
          </div>
    </div>
</body>
</html>