<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <div></div>
    <canvas class="canvasMap" width="600" height="400"></canvas>
    <script>var history_id = <%= history_id %></script>
    <script src="../../public/script/show_history.js"></script>
</body>
</html>