<footer>
    <div class="footer-container">
        <div class="footer-menu-container">
            <ul>
                <li class="footer-item"><a href="/company">Home</a></li>
                <li class="footer-item"><a href="/company/about">About</a></li>
                <li class="footer-item"><a href="/company/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-icons-container">
            <div class="footer-icon footer-icon-left">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="footer-icon footer-icon-right">
                <i class="fab fab fa-twitter"></i>
            </div>
        </div>
        <div class="footer-bottom-container">
            <ul>
                <li class="footer-bottom-item"><a href="/company#team">Team</a></li>
                <li class="footer-bottom-item"><a href="/company/privacy">Privacy</a></li>
                <li class="footer-bottom-item"><a href="/company/terms">Terms</a></li>
            </ul>
        </div>
        <div class="copy-container">
            <p>&copy; 2023 Web Driver</p>
        </div>
    </div>
</footer>
</html>