<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header', {styles: ['/style/default.css', '/style/land.css', '/style/imgGrid.css', '/style/spacer.css', '/style/icon.css', '/style/navbar.css', '/style/footer.css', '/style/main.css'], scripts: ['/script/mainSite.js', '/script/animation.js', '/script/navbar.js']}) %>    
 
<body>

        <nav>
            <%- include('../partials/nav.ejs') %>
        </nav>
        <section class="section-land section">
            <div class="landing-container">
                
                <div class="landing-wrapper">
                    <div class="landing-main">
                        <h1>Web Driver</h1>
                        <h3>Command your electric car with precision and ease through our online controller your gateway
                            to a smarter, connected driving experience </h3>
                    </div>
                </div>
            </div>
            <div class="shapes">
                <div class="svg-shape-4">
                    <svg width="300" height="300" viewBox="0 0 389 508" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M-292.586 179.709L60.7095 -173.586L387.031 152.735L33.7355 506.031L-292.586 179.709Z"
                            fill="#BFBFBF" fill-opacity="0.3" stroke="#DCAD05" stroke-width="2" />
                    </svg>
                </div>
                <div class="svg-shape-5">
                    <svg width="300" height="250" viewBox="0 0 368 279" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M-272.693 193.283L188.589 1.30744L365.907 427.37L-95.3739 619.346L-272.693 193.283Z"
                            fill="white" fill-opacity="0.3" stroke="#DCAD05" stroke-width="2" />
                    </svg>
                </div>
                <div class="svg-shape-6">
                    <svg width="500" height="500" viewBox="0 0 656 652" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.40902 342.934L288.873 1.40922L654.159 308.874L366.695 650.398L1.40902 342.934Z"
                            fill="#747474" fill-opacity="0.8" stroke="#DCAD05" stroke-width="2" />
                    </svg>
                </div>
            </div>

            <div class="arrow-container">
                <i class="fa-solid arrow fa-arrow-down"></i>
            </div>
        </section>

        <section class="section">
            <div class="text-spacer-container">
                <div class="txt-spacer-wrapper">
                    <div class="txt-spacer">
                        <h2>Navigate your <br>electric journey<br> effortlessly</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="section imgSection">
            <div class="image-header">
                <h2>Meet Our Team</h2>
            </div>
            <div class="grid">
                <div class="grid-item">
                    <img src="../../public/images/company/gutterne1.jpg" alt="tesla">
                    <div class="text">Daniel - Frontend</div>
                </div>
                <div class="grid-item">
                    <img src="../../public/images/company/max.png" alt="tesla">
                    <div class="text">Max - IoT </div>
                </div>
                <div class="grid-item">
                    <img src="../../public/images/company/thom.png" alt="tesla">
                    <div class="text">Thom - Frontend</div>
                </div>
                <div class="grid-item">
                    <img src="../../public/images/company/gutterne1.jpg" alt="tesla">
                    <div class="text">Richard - Backend</div>
                </div>
                <div class="grid-item">
                    <img src="../../public/images/company/gutterne1.jpg" alt="tesla">
                    <div class="text">Kasper - Backend</div>
                </div>
                <div class="grid-item">
                    <img src="../../public/images/company/gutterne1.jpg" alt="tesla" style="display: none;">
                </div>
            </div>
        </section>


        <section class="section">
            <div class="icon-spacer-container">
                <div class="icon-spacer-wrapper">
                    <div class="icon-txt">
                        <h2>Stay connected! stay in control</h2>
                    </div>
                    <div class="icon-container">
                        <div class="icon-item">
                            <div class="circle">
                                <i class="fa-brands fa-js"></i>
                            </div>
                        </div>
                        <div class="icon-item">
                            <div class="circle">
                                <i class="fa-brands fa-css3-alt"></i>
                            </div>
                        </div>
                        <div class="icon-item">
                            <div class="circle">
                                <i class="fa-brands fa-node-js"></i>
                            </div>
                        </div>
                        <div class="icon-item">
                            <div class="circle">
                                <svg width="120" height="105" viewBox="0 0 120 105" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_239_7)">
                                        <path
                                            d="M9.18793 83.5914C7.04964 87.5459 6.93408 92.5396 8.85942 96.6123C10.7848 100.685 14.4563 103.243 18.4745 103.281L99.762 104.034C103.78 104.071 107.498 101.581 109.499 97.5449C111.499 93.5086 111.453 88.5134 109.412 84.5201L69.4846 6.81181C67.5111 2.95346 63.9533 0.584224 60.0737 0.548274C56.194 0.512324 52.6161 2.81544 50.5483 6.63634L9.18793 83.5914Z"
                                            fill="black" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_239_7">
                                            <rect width="103.113" height="118.242" fill="white"
                                                transform="translate(0 103.109) rotate(-89.4691)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                
                            </div>
                        </div>
                        <div class="icon-item">
                            <div class="circle">
                                <img src="../../public/images/icon/iconSocket.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/footer.ejs') %>
    </body>