<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>

    <!-- Css -->
    <link rel="stylesheet" href="../../public/style/style.css">
    <link rel="stylesheet" href="../../public/style/css/land.css">
    <link rel="stylesheet" href="../../public/style/css/imgGrid.css">
    <link rel="stylesheet" href="../../public/style/css/icon.css">
    <link rel="stylesheet" href="../../public/style/css/footer.css">
    <link rel="stylesheet" href="../../public/style/css/spacer.css">



    <!-- Script -->
    <script defer src="script.js"></script>
    <script defer src="scripts/grid.js"></script>


    <!-- Random  -->
    <script src="https://kit.fontawesome.com/7c9eddd821.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>



</head>
<body>
<section class="section-land section">
    <div class="landing-container">
        <div class="landing-wrapper">
            <div class="landing-main">
                <h1>Web Driver</h1>
                <h3>Command your electric car with precision and ease through our online controller your gateway to a smarter, connected driving experience </h3>
            </div>
        </div>
    </div>
    
    <div class="arrow-container">
        <i class="fa-solid arrow fa-arrow-down"></i>
    </div>
</section>

<section class="section">
    <div class="text-spacer-container">
        <div class="txt-spacer-wrapper">
            <div class="txt-spacer">
                <h2>Navigate your <br>electric journey<br> effortlessly</h2>
            </div>
        </div>
    </div>
</section>

<section class="section imgSection">
    <div class="image-header">
        <h2>Meet Our Team</h2>
    </div>
    <div class="grid">
            <div class="grid-item">
                <img src="../../public/images/company/gutterne1.jpg" alt="tesla">
                <div class="text">Daniel - Frontend</div>
              </div>
              <div class="grid-item">
                <img src="../../public/images/company/max.png" alt="tesla">
                <div class="text">Max - IoT </div>
              </div>
            <div class="grid-item">
                <img src="../../public/images/company/thom.png" alt="tesla">
                <div class="text">Thom - Frontend</div>
              </div>
              <div class="grid-item" >
                <img src="../../public/images/company/gutterne1.jpg" alt="tesla">
                <div class="text">Richard - Backend</div>
              </div>
              <div class="grid-item" >
                <img src="../../public/images/company/gutterne1.jpg" alt="tesla">
                <div class="text">Kasper - Backend</div>
              </div>
              <div class="grid-item">
                <img src="../../public/images/company/gutterne1.jpg" alt="tesla" style="display: none;">
              </div>
      </div>
</section>


<section class="section">
    <div class="icon-spacer-container">
        <div class="icon-spacer-wrapper">
            <div class="icon-txt">
                <h2>Stay connected! stay in control</h2>
            </div>
            <div class="icon-container">
                <div class="icon-item">
                    <div class="circle">
                        <i class="fa-brands fa-js"></i>
                    </div>
                </div>
                <div class="icon-item">
                    <div class="circle">
                        <i class="fa-brands fa-css3-alt"></i>
                    </div>
                </div>
                <div class="icon-item">
                    <div class="circle">
                        <i class="fa-brands fa-node-js"></i>
                    </div>
                </div>
                <div class="icon-item">
                    <div class="circle">
                        <svg width="120" height="105" viewBox="0 0 120 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_239_7)">
                            <path d="M9.18793 83.5914C7.04964 87.5459 6.93408 92.5396 8.85942 96.6123C10.7848 100.685 14.4563 103.243 18.4745 103.281L99.762 104.034C103.78 104.071 107.498 101.581 109.499 97.5449C111.499 93.5086 111.453 88.5134 109.412 84.5201L69.4846 6.81181C67.5111 2.95346 63.9533 0.584224 60.0737 0.548274C56.194 0.512324 52.6161 2.81544 50.5483 6.63634L9.18793 83.5914Z" fill="black"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_239_7">
                            <rect width="103.113" height="118.242" fill="white" transform="translate(0 103.109) rotate(-89.4691)"/>
                            </clipPath>
                            </defs>
                            </svg>
                            
                    </div>
                </div>
                <div class="icon-item">
                    <div class="circle">
                        <img src="../../public/images/icon/iconSocket.png" alt="">
                    </div>                          
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-container">
        <div class="footer-menu-container">
            <ul>
                <li class="footer-item"><a href="#">Home</a></li>
                <li class="footer-item"><a href="#">About</a></li>
                <li class="footer-item"><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-icons-container">
            <div class="footer-icon footer-icon-left">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="footer-icon footer-icon-right">
                <i class="fab fab fa-twitter"></i>
            </div>
        </div>
        <div class="footer-bottom-container">
            <ul>
                <li class="footer-bottom-item"><a href="#">Team</a></li>
                <li class="footer-bottom-item"><a href="#">Privacy</a></li>
                <li class="footer-bottom-item"><a href="#">Terms</a></li>
            </ul>
        </div>
        <div class="copy-container">
            <p>&copy; 2023 Web Driver</p>
        </div>
    </div>
</footer>


</body>
</html>