.contact-section{
    height: 100vh;
    text-align: center;
    /* background-color: #585858; */
}
.contact-section h2{
    color: var(--primary-color);
}
.form-contact-index{
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height: 600px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
}
.input-name-contact{
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: transparent;
    margin-top: 40px;
    margin-bottom: 10px;
    color: white;
}
.input-name-contact:focus{
   border-bottom: 2px solid var(--primary-color);
}
.submitbtn-contact{
    margin-top: 70px;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    width: 171px;
    height: 54px;
    border: 1px solid #d9d9d9;
}
.submitbtn-contact:hover{

    border: 2px solid var(--primary-color);
    cursor: pointer;
}
.input-textarea-contact {
    margin-top: 70px;
    border: none;
    border: 2px solid white;
    border-radius: 10px;
    resize: none; 
    height: 200px;
    background-color: transparent;
    color: white;
    text-align: center;
}
.input-textarea-contact:focus{
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}
.input-textarea-contact:hover{
    border: 2px solid var(--primary-color);
}
.form-content{
    margin-top: 20px;
}
.h2-wrapper-contact{
    color: var(--primary-color);
}

