

body{
    overflow-x: hidden;
  }
  .svg-shape-4{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
}
.svg-shape-5{
    position: absolute;
    bottom: -0px;
    left: 0px;
}
.svg-shape-6{
    position: absolute;
    right: -300px;
    top: -200px;
}
