@font-face{
    font-family: Poppins;
    src: url("font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(
      -45deg,
      #ff00c7,
      rgb(209, 53, 113),
      #23a6d5,
      #23d5ab
    );
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Poppins;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }