* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
    font-family: Poppins;
    src: url("font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #525252;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Poppins;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}