
.login-container{   
    text-align: center;
    margin: 0 auto;
    margin-top: 250px;
    background-color: var(--form-color);
    width: 500px;
    height: 450px;
    border-radius: 26px;
    color: #FFFFFF;
    border: 2px solid var(--yellow-color);
}
.register-container{
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 160px;
    background-color: var(--form-color);
    width: 500px;
    height: 550px;
    border-radius: 26px;
    border: 3px solid var(--yellow-color);
}
.register-container h2{
    padding-top: 10px;
}
.login-container input:focus{
    outline: none;
}
.register-container input{
    text-align: center;
    color: #e2e2e2;
}

.register-container input:focus {
    outline: none;
}

.register-container input {
    padding-top: 10px;
    text-align: center;
    transition: border-color 0.7s ease; 
}

.username-input,
.email-input,
.password-input {
    background-color: var(--form-color);
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 65%;
    border: none;
    border-bottom: 2px solid;
    border-color: #d9d9d9;
    margin-bottom: 40px;
    color: #e2e2e2;
}

.username-input:focus,
.email-input:focus,
.password-input:focus {
    border-color: var(--yellow-color); 
}
.username-input:hover,
.email-input:hover,
.password-input:hover {
    border-color: var(--yellow-color); 
}


.user-image{
    position: relative;
    right: 200px;
    top: 45px;
}

.mail-image{
    position: relative;
    right: 200px;
    top: 45px;
}

.password-image{
    position: relative;
    right: 200px;
    top: 45px;
}
.submit-button{
    margin-top: 18px;
    background-color: var(--form-color);
    color: white;
    border-radius: 25px;
    width: 171px;
    height: 54px;
    border: 1px solid #d9d9d9;

}
.submit-button:hover{
    border: 2px solid var(--yellow-color);
    cursor: pointer;
}
a{
    color: var(--yellow-color);
}
