body, html{
    height: 110%;
    margin: 0;
    
}
@font-face{
    font-family: Poppins;
    src: url("../font/Poppins/Poppins-Regular.ttf") format("truetype"); /* Path to your font file */
    font-weight: normal;
    font-style: normal;
}
body{
	background: linear-gradient(-45deg, #FF00C7, rgb(209, 53, 113), #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Poppins;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h2{
    margin-bottom: 40px;
}
.login-container{   
    text-align: center;
    margin: 0 auto;
    margin-top: 278px;
    background-color: #FFFFFF;
    width: 500px;
    height: 400px;
    border-radius: 26px;
}
.register-container{
    text-align: center;
    margin: 0 auto;
    margin-top: 160px;
    background-color: #FFFFFF;
    width: 500px;
    height: 500px;
    border-radius: 26px;
}

.register-container input{
    text-align: center;
}

.register-container input:focus {
    outline: none;
}

.register-container input {
    text-align: center;
    transition: border-color 0.7s ease; 
}

.username-input,
.email-input,
.password-input {
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 65%;
    border: none;
    border-bottom: 2px solid;
    border-color: #d9d9d9;
    margin-bottom: 40px;
}

.username-input:focus,
.email-input:focus,
.password-input:focus {
    border-color: #007BFF; /* Change the border color when input is focused */
}

.user-image{
    position: relative;
    right: 200px;
    top: 35px;
}

.mail-image{
    position: relative;
    right: 200px;
    top: 35px;
}

.password-image{
    position: relative;
    right: 200px;
    top: 35px;
}
.submit-button{
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 171px;
    height: 54px;
    border: 1 px solid black;
}
.submit-button:hover{
    background-color: #ececec;
    cursor: pointer;
}

.shape-1{
    z-index: 1;
    display: flex;
    position: absolute;
    top: -250px;
    left: -350px;
}
.shape-2{
    z-index: 1;
    display: flex;
    position: absolute;
    left: -250px;
    bottom: -180px;
}
.shape-3{
    z-index: 1;
    display: flex;
    position: absolute;
    right: -500px;
    top: 100px
}
.navbar-top-bar{
    height: 8%;
    background-color: #d9d9d9;

}